
:root {
      --default-font: "Quicksand", serif; */
      font-weight: 600; */
}

.gallery-list {
	display: flex;
	justify-content: space-between;
}

.gallery-list > li {
	margin: auto;
	list-style-type: none;
}

